body {
  font-family: Arial, sans-serif;
  background: #c9e1fb;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 20px #01034a, 0 0 40px #01034a;
  text-align: justify;
  width: 320px;
  animation: glowBlink 1.5s infinite alternate;
}

@keyframes glowBlink {
  0% {
    box-shadow: 0 0 5px #01034a, 0 0 10px #01034a;
  }
  50% {
    box-shadow: 0 0 20px #01034a, 0 0 40px #01034a;
  }
  100% {
    box-shadow: 0 0 5px #01034a, 0 0 10px #01034a;
  }
}


h2 {
  color: #01034a;
}

input[type="date"] {
  width: 100%;
  padding: 10px;
  margin-top: 15px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

button {
  margin-top: 20px;
  padding: 10px 25px;
  background-color: #01034a;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #01034a;
}

.result {
  margin-top: 20px;
  font-size: 16px;
  color: #333;
  font-weight: bold;
}
